table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#status {
  font-style: italic;
}

#totalSalary {
  font-weight: bold;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

[id*="btn-sort-"] {
  border: none;
  background: transparent;
  cursor: pointer;
}

[id*="filter"] {
  cursor: pointer;
}

.fs-18 {
  font-size: 18px;
}

.isLoading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

#loader-container {
  position: relative;
  display: inline-block;
  border: 1px solid red;
  display: none;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

#percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup {
  display: none;
  position: absolute;
  top: 40px;
  right: 50%;
  padding: 15px;
  width: 300px;
  transform: translateX(50%);
  border-radius: 6px;
  text-align: center;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  background-color: #eee;
}

.popup svg {
  width: 70px;
}

.popup button {
  padding: 5px 10px;
}

.progress-bar {
  width: 300px;
  background-color: #eee;
}

.progress-bar .progress-bar-label {
  text-align: center;
  background-color: #04aa6d;
  width: 25%;
  color: #fff;
}
